body {
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background:url('math.jpg')center/cover no-repeat;
    font-family: 'Dokdo',
    cursive;
    color:black;
    text-transform: capitalize;
}

.counter-box {
    flex: 0 0 70%;
    text-align: center;
    background-color:#00abff;
    border:3px solid black;
    padding: 1rem;
    font-weight:bold;
    box-shadow: 3px 3px 10px 10px black;
    border-radius: 10px;
}
.counter {
    font-size: 6rem;
}
.btn {
    background: #fff;
    border-radius: 8px;
    font-size: 2rem;
    outline: none;
    padding: 0.5rem;
    margin: 0.5rem 0.25rem;
    border: solid 3px lightgreen;
    box-shadow: 8px 5px  lightpink;
}
.btn:hover {
    background-color:lightsalmon;
    color:white;
    cursor: pointer;
}
